<style>
    .label-primary {
        background-color: #337ab7
    }

    .label-default {
        background-color: #c6ccd1
    }

    .label {
        text-align: center;
        color: white;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Pacientes</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item active">pacientes</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <!-- /.content -->

    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class=" mt-2 col-md-4 col-sm-12">
                        <div class="input-group input-group-md">
                            <input type="text" class="form-control " id="indni" placeholder="Ingrese DNI" maxlength="8"
                                onkeyup="buscardni()">
                            <span class="input-group-append">
                                <button type="button" class="btn btn-info btn-flat" onclick="buscardni()">
                                    <i class="fas fa-search"></i>
                                </button>
                                <button type="button" class="btn btn-light btn-flat" onclick="limpiar()">
                                    <i class="fas fa-times-circle"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4"></div>

                </div>
            </div>
            <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6"></div>
                        <div class="col-sm-12 col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="overflow-x:auto;">
                            <table id="example2" class="table table-bordered table-hover dataTable dtr-inline"
                                role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting ">DNI</th>
                                        <th class="sorting">Nombre
                                        </th>
                                        <th class="sorting">
                                            Teléfono</th>
                                        <th class="sorting">
                                            Dirección</th>
                                        <th class="sorting">Estado
                                        </th>
                                        <th class="sorting">Historial
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tablepacientes">
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<script>
    var buscardni = function () {
        var dni = $("#indni").val();
        if (dni.length == 8) {
            llenartablapacientes(dni);
        } else if (dni.length == 0) {
            llenartablapacientes(null);
        }
    }

    var limpiar = function () {
        llenartablapacientes(null)
    }

    var rowtable = function (data) {
        return `<tr role="row" class="odd">
            <td>${data.paciente_dni}</td>
            <td>${data.paciente_nombre} ${data.paciente_paterno} ${data.paciente_materno}</td>
            <td>${data.paciente_celular}</td>
            <td>${data.paciente_direccion}</td>
            <td><span class="label label-${data.seguimiento.includes("Con") ? 'primary' : 'default'}">${data.seguimiento}</span>
            </td>
            <td>
                <button class="btn-estadisticas mt-2 text-center btn btn-danger" title="Ver Estadisticas" onclick="abrirVista('/seguimiento.historial')">
                                                <i class="text-white fa fa-chart-bar"></i>
                                            </button>
                </td>
            
            </tr>`;
    }
    var llenartablapacientes = function (dni) {
        $.ajax({
            type: "GET",
            url: `paciente.lista${dni != null ? `?dni=${dni}` : ``}`,
            success: function (res) {
                console.log(res);
                var html = "";
                if (res.data.length != 0) {
                    for (let valor of res.data) {
                        html += rowtable(valor);
                    }
                } else {
                    html += `<tr role="row" class="odd">
                        <td colspan="7">
                            <p class="text-center">NO EXISTEN PACIENTES REGISTRADOS</p>
                            </td>
                            </tr>`;
                }
                $("#tablepacientes").html(html);


            }
        })
    }
    $(function () {
        llenartablapacientes(null);
    });

</script>