<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Pacientes</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item active">pacientes</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <!-- /.content -->

    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class=" mt-2 col-md-4 col-sm-12">
                        <div class="input-group input-group-md">
                            <input type="text" class="form-control " placeholder="Ingrese DNI">
                            <span class="input-group-append">
                                <button type="button" class="btn btn-info btn-flat">
                                    <i class="fas fa-search"></i>
                                </button>
                                <button type="button" class="btn btn-light btn-flat">
                                    <i class="fas fa-times-circle"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4"></div>

                </div>
            </div>
            <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6"></div>
                        <div class="col-sm-12 col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="overflow-x:auto;">
                            <table id="example2" class="table table-bordered table-hover dataTable dtr-inline"
                                role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting ">Fecha</th>
                                        <th class="sorting">Hora</th>
                                        <th class="sorting">Oxigenación</th>
                                        <th class="sorting">Temperatura</th>
                                        <th class="sorting">Pulsaciones</th>
                                        <th class="sorting">Estado
                                        </th>
                                        <!--th class="sorting">Opciones
                                        </th-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr role="row" class="odd">
                                        <td tabindex="0" class="sorting_1">Gecko</td>
                                        <td>Firefox 1.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.7</td>
                                        <td>A</td>
                                        <td><span class="text-center text-white btn btn-warning btn-flat btn-xs">Seguimiento
                                                Activo</span></td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td tabindex="0" class="sorting_1">Gecko</td>
                                        <td>Firefox 1.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.7</td>
                                        <td>A</td>
                                        <td><span class="text-center text-white btn btn-success btn-flat btn-xs">Sin Seguimiento
                                                </span></td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td tabindex="0" class="sorting_1">Gecko</td>
                                        <td>Firefox 1.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.7</td>
                                        <td>A</td>
                                        <td><span class="text-center text-white btn btn-success btn-flat btn-xs">Sin Seguimiento
                                                </span></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_info float-md-left  text-sm-center" id="example2_info" role="status"
                                aria-live="polite">Showing 1
                                to 10 of 57 entries</div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="float-md-right  text-sm-center dataTables_paginate paging_simple_numbers"
                                id="example2_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="example2_previous">
                                        <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0"
                                            class="page-link">
                                            <i class="fa fa-arrow-left"></i>
                                        </a>
                                    </li>
                                    <li class="paginate_button page-item active"><a href="#" aria-controls="example2"
                                            data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="example2"
                                            data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="example2"
                                            data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="example2"
                                            data-dt-idx="4" tabindex="0" class="page-link">4</a></li>

                                    <li class="paginate_button page-item next" id="example2_next"><a href="#"
                                            aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link"><i
                                                class="fa fa-arrow-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div-->
                </div>
            </div>
            <!-- /.card-body -->
            <!--div class="card-footer">
                Footer
            </div-->
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
</div>