<style>
    fieldset {
        border: 2px solid#ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
    }

    /*
    input {
        margin: 5px;
    }*/
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12 col-md-6">
                    <h1 class="m-0 text-dark">Seguimiento de Pacientes</h1>
                </div><!-- /.col -->
                <div class="col-sm-12 col-md-6">
                    <ol class="breadcrumb float-right">
                        <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                            <span class="mr-1">Nuevo</span>
                            <i class="fa fa-plus"></i>
                        </button>
                        <!--li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item active">Seguimiento</li-->
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class=" mt-2 col-md-4 col-sm-12">
                        <div class="input-group input-group-md">
                            <input type="text" class="form-control " placeholder="Ingrese DNI">
                            <span class="input-group-append">
                                <button type="button" class="btn btn-info btn-flat">
                                    <i class="fas fa-search"></i>
                                </button>
                                <button type="button" class="btn btn-light btn-flat">
                                    <i class="fas fa-times-circle"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class=" mt-2 col-md-4 col-sm-12">
                        <select class="custom-select" id="estado">
                            <option>seleccione estado (Todos)</option>
                            <option>Estable</option>
                            <option>En Riesgo</option>
                            <option>Alarmante</option>
                        </select>
                    </div>
                </div>
                <!--div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                        <i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                        title="Remove">
                        <i class="fas fa-times"></i></button>
                </div-->
            </div>
            <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6"></div>
                        <div class="col-sm-12 col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="overflow-x:auto;">
                            <table id="example2" class="table table-bordered table-hover dataTable dtr-inline"
                                role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting ">DNI</th>
                                        <th class="sorting">Nombre
                                        </th>
                                        <th class="sorting">
                                            Teléfono</th>
                                        <th class="sorting">
                                            Dirección</th>
                                        <th class="sorting">Estado
                                        </th>
                                        <th class="sorting">Opciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr role="row" class="odd">
                                        <td tabindex="0" class="sorting_1">Gecko</td>
                                        <td>Firefox 1.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.7</td>
                                        <td>A</td>
                                        <td class="text-center">
                                            <button onclick="abrirVista('/seguimiento.detalle')"
                                                class="mt-2 text-center btn btn-danger" data-toggle="tooltip"
                                                data-placement="bottom" title="Ver Estadisticas">
                                                <i class="text-white fa fa-chart-bar"></i>
                                            </button>
                                            <button class="mt-2 text-center btn btn-danger" data-toggle="tooltip"
                                                data-placement="bottom" title="Dejar de Seguir">
                                                <i class="text-white fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_info float-md-left  text-sm-center" id="example2_info" role="status"
                                aria-live="polite">Showing 1
                                to 10 of 57 entries</div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="float-md-right  text-sm-center dataTables_paginate paging_simple_numbers"
                                id="example2_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="example2_previous">
                                        <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0"
                                            class="page-link">
                                            <i class="fa fa-arrow-left"></i>
                                        </a>
                                    </li>
                                    <li class="paginate_button page-item active"><a href="#" aria-controls="example2"
                                            data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="example2"
                                            data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="example2"
                                            data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="example2"
                                            data-dt-idx="4" tabindex="0" class="page-link">4</a></li>

                                    <li class="paginate_button page-item next" id="example2_next"><a href="#"
                                            aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link"><i
                                                class="fa fa-arrow-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div-->
                </div>
            </div>
            <!-- /.card-body -->
            <!--div class="card-footer">
                Footer
            </div-->
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
</div>

<!-- Main content -->
<!-- /.content -->
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl " role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrar Seguimiento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form class="row" id="formpaciente">
                        <div class="col-xl-6 col-md-6">
                            <fieldset>
                                <legend>Datos de Paciente</legend>
                                <div class="form-group">
                                    <!--label for="dni">Documento Nacional de Identidad</label-->
                                    <input type="text" name="dni" class="form-control" placeholder="Ingrese dni"
                                        autofocus>
                                </div>
                                <div class="form-group">
                                    <!--label for="nombre">Dirección</label-->
                                    <input type="text" name="nombre" class="form-control"
                                        placeholder="Ingrese nombre" />
                                </div>
                                <div class="form-group">
                                    <!--label for="paterno">Apellido Paterno</label-->
                                    <input type="text" name="paterno" class="form-control"
                                        placeholder="Ingrese apellido Paterno" />
                                </div>
                                <div class="form-group">
                                    <!--label for="materno">Apellido Materno</label-->
                                    <input type="text" name="materno" class="form-control"
                                        placeholder="Ingrese apellido Materno" />
                                </div>
                                <div class="form-group">
                                    <!--<label for="direccion">Dirección</label-->
                                    <input type="text" name="direccion" class="form-control"
                                        placeholder="Ingrese dirección" />
                                </div>
                                <div class="form-group">
                                    <!--label for="whatsaap">Celular</label-->
                                    <input type="text" name="whatsaap" class="form-control"
                                        placeholder="Ingrese número de celular" />
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <legend>Datos del Seguimiento</legend>

                                <div class="form-group">
                                    <input type="date" name="fechainicio" class="form-control"
                                        placeholder="Fecha de Inicio" autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="date" name="fechafin" class="form-control" placeholder="Fecha de Fin"
                                        autofocus>
                                </div>
                                <div class="form-group">
                                    <select name="" class="form-control" id="">
                                        <option value="">Seleccione código de Equipo</option>
                                        <option value="X--SSSDASD-XAAAA-XSDASD-XXX">X--SSSDASD-XAAAA-XSDASD-XXX</option>
                                        <option value="X--SSSDASD-XAAAA-XSDASD-XXX">X--SSSDASD-XAAAA-XSDASD-XXX</option>
                                        <option value="X--SSSDASD-XAAAA-XSDASD-XXX">X--SSSDASD-XAAAA-XSDASD-XXX</option>
                                    </select>
                                    <!--input type="date" name="nombre" class="form-control" placeholder="Fecha de Fin"
                                    autofocus-->
                                </div>
                            </fieldset>
                        </div>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btn-registrar">Iniciar Seguimiento</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#btn-registrar").click(function () {
            $.ajax({
                type: "POST",
                url: "seguimiento.registro",
                data: $("#formpaciente").serialize()
                , success: function (res) {
                    //console.log(res);
                    alert(res);
                    console.error(res);
                    //$("#formpaciente").reset();
                }
            })

        })
    })
</script>