<style>
    fieldset {
        border: 2px solid#ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
    }

    .label-ce {
        font-size: 12px;
        color: gray
    }

    .form-group {
        margin-bottom: 0.2rem !important;
    }
</style>
<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12 col-md-6">
                    <h1 class="m-0 text-dark">Seguimiento de Pacientes</h1>
                </div>
                <div class="col-sm-12 col-md-6">
                    <ol class="breadcrumb float-right">
                        <!-- data-toggle="modal" data-target="#exampleModal"-->
                        <button id="btn-nuevo" class="btn btn-danger">
                            <span class="mr-1">Nuevo</span>
                            <i class="fa fa-plus"></i>
                        </button>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class=" mt-2 col-md-4 col-sm-12">
                        <div class="input-group input-group-md">
                            <input maxlength="8" type="text" class="form-control " placeholder="Ingrese DNI"
                                id="inputdni">
                            <span class="input-group-append">
                                <button type="button" class="btn btn-info btn-flat" id="btn-buscar">
                                    <i class="fas fa-search"></i>
                                </button>
                                <button type="button" class="btn btn-light btn-flat" id="btn-limpiar-filtro">
                                    <i class="fas fa-times-circle"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class=" mt-2 col-md-4 col-sm-12">
                        <select class="custom-select" id="estado">
                            <option>seleccione estado (Todos)</option>
                            <option>Estable</option>
                            <option>En Riesgo</option>
                            <option>Alarmante</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6"></div>
                        <div class="col-sm-12 col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="overflow-x:auto;">
                            <table class="table table-bordered table-hover dataTable dtr-inline" role="grid"
                                aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting ">DNI</th>
                                        <th class="sorting">Nombre
                                        </th>
                                        <th class="sorting">
                                            Teléfono</th>
                                        <th class="sorting">
                                            Dirección</th>
                                        <th class="sorting">Estado
                                        </th>
                                        <th class="sorting">Fecha Fin
                                        </th>
                                        <th class="sorting">Opciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tableseguimiento">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</div>

<!-- Modal -->
<div class="modal fade" id="modalnuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl " role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrar Seguimiento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form class="row" id="formpaciente">
                        <div class="col-xl-6 col-md-6">
                            <fieldset>
                                <legend>Datos de Paciente</legend>
                                <div class="form-group">
                                    <label class="label-ce" for="dni">Documento Nacional de
                                        Identidad</label>
                                    <input type="text" name="dni" id="formdni" maxlength="8" class="form-control"
                                        onkeypress='return validaNumericos(event)' placeholder="Ingrese dni" autofocus>
                                </div>
                                <div class="form-group">
                                    <label class="label-ce" for="nombre">Nombre</label>
                                    <input type="text" name="nombre" onkeypress='return validaTexto(event)'
                                        id="formnombre" class="form-control" maxlength="60"
                                        placeholder="Ingrese nombre" />
                                </div>
                                <div class="form-group">
                                    <label class="label-ce" for="paterno">Apellido Paterno</label>
                                    <input type="text" name="paterno" onkeypress='return validaTexto(event)'
                                        id="formpaterno" class="form-control" maxlength="60"
                                        placeholder="Ingrese apellido Paterno" />
                                </div>
                                <div class="form-group">
                                    <label class="label-ce" for="materno">Apellido Materno</label>
                                    <input type="text" name="materno" onkeypress='return validaTexto(event)'
                                        id="formmaterno" class="form-control" maxlength="60"
                                        placeholder="Ingrese apellido Materno" />
                                </div>
                                <div class="form-group">
                                    <label class="label-ce" for="direccion">Dirección</label>
                                    <input type="text" name="direccion" id="formdireccion" class="form-control"
                                        maxlength="250" placeholder="Ingrese dirección" />
                                </div>
                                <div class="form-group">
                                    <label class="label-ce" for="whatsapp">Celular</label>
                                    <input type="text" name="whatsapp" onkeypress='return validaNumericos(event)'
                                        id="formwhatsapp" maxlength="9" class="form-control"
                                        placeholder="Ingrese número de celular" />
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <legend>Datos del Seguimiento</legend>

                                <div class="form-group">
                                    <label class="label-ce">Fecha Inicio</label>
                                    <input type="date" name="fechainicio" class="form-control"
                                        placeholder="Fecha de Inicio" autofocus>
                                </div>
                                <div class="form-group">
                                    <label class="label-ce">Fecha Fin</label>
                                    <input type="date" name="fechafin" class="form-control" placeholder="Fecha de Fin"
                                        autofocus>
                                </div>
                                <div class="form-group">
                                    <label class="label-ce">Equipo</label>
                                    <select name="equipo_id" class="form-control" id="equipo_id">
                                    </select>
                                </div>
                                <!--div class="form-group">
                                    <label class="label-ce">Token Ubidots</label>
                                    <input type="text" name="token_ubidots" class="form-control"
                                        placeholder="Token Ubidots" autofocus>
                                </div-->
                            </fieldset>
                        </div>

                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <span id="msgform"></span>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btn-registrar">Iniciar Seguimiento</button>
            </div>
        </div>
    </div>
</div>
<script>
    function validaNumericos(event) {
        if (event.charCode >= 48 && event.charCode <= 57) {
            return true;
        }
        return false;
    }

    function validaTexto(e) {
        var key = e.keyCode || e.which,
            tecla = String.fromCharCode(key).toLowerCase(),
            letras = " áéíóúabcdefghijklmnñopqrstuvwxyz",
            especiales = [8, 37, 39, 46],
            tecla_especial = false;

        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }

    var optionequipos = function (id, text) {
        return `<option value=${id}>${text}</option>`;
    }

    var rowtable = function (res) {
        return `
        <tr role="row" class="odd">
                                        <td >${res.seguimiento_dni}</td>
                                        <td>${res.seguimiento_nombre} , ${res.seguimiento_paterno} ${res.seguimiento_materno}</td>
                                        <td>${res.seguimiento_celular}</td>
                                        <td>${res.seguimiento_direccion}</td>
                                        <td>${res.seguimiento_dni}</td>
                                        <td>${res.seguimiento_fecha_fin.split("T")[0]}</td>
                                        <td class="text-center">
                                            <button 
                                            
                                            class="btn-estadisticas mt-2 text-center btn btn-danger"   title="Ver Estadisticas"
                                            data-seguimiento_id="${res.seguimiento_id}"
                                            data-paciente_id="${res.seguimiento_paciente_id}"
                                            data-dni="${res.seguimiento_dni}"
                                            data-nombre="${res.seguimiento_nombre} , ${res.seguimiento_paterno} ${res.seguimiento_materno}"
                                            data-celular="${res.seguimiento_celular}"
                                            data-direccion="${res.seguimiento_direccion}"
                                            data-fecha_fin="${res.seguimiento_fecha_fin.split("T")[0]}"
                                            data-fecha_inicio="${res.seguimiento_fecha_inicio.split("T")[0]}"    >
                                                <i class="text-white fa fa-chart-bar"></i>
                                            </button>
                                            <!--button class="mt-2 text-center btn btn-danger"  title="Dejar de Seguir">
                                                <i class="text-white fa fa-times"></i>
                                            </button-->
                                        </td>
                                    </tr>
        `;
    }

    $(function () {

        $("#btn-nuevo").click(function () {
            llenarcombo();
        })

        $("#formdni").change(function () {
            var dni = $("#formdni").val();
            if (dni.length == 8) {
                $.ajax({
                    type: "GET",
                    url: "paciente.consulta",
                    data: { "dni": dni },
                    success: function (res) {
                        if (res.status = "SUCCESS") {
                            var data = res.data;
                            if (res.data == null) {
                                $("#formwhatsapp").val("")
                                $("#formdireccion").val("")
                                $("#formmaterno").val("")
                                $("#formpaterno").val("")
                                $("#formnombre").val("")
                            } else {
                                $("#formwhatsapp").val(data.paciente_celular)
                                $("#formdireccion").val(data.paciente_direccion)
                                $("#formmaterno").val(data.paciente_materno)
                                $("#formpaterno").val(data.paciente_paterno)
                                $("#formnombre").val(data.paciente_nombre)
                            }
                        } else if (res.status = "VACIO") {
                            if (res.data == null) {
                                $("#formwhatsapp").val("")
                                $("#formdireccion").val("")
                                $("#formmaterno").val("")
                                $("#formpaterno").val("")
                                $("#formnombre").val("")

                            }
                        }
                    }
                })
            }
        });
        var llenartablaseguimiento = function (todos, dni) {
            $.ajax({
                type: "GET",
                url: `seguimiento.consulta?todos=${todos}&dni=${dni}`,
                success: function (res) {
                    console.log(res);
                    var html = "";
                    if (res.data.length != 0) {
                        for (let valor of res.data) {
                            html += rowtable(valor);
                        }
                    } else {
                        html += `<tr role="row" class="odd"><td colspan="7">
                            <p class="text-center">El paciente no tiene seguimiento <b>activo</b></p>
                            </td></tr>`;
                    }
                    $("#tableseguimiento").html(html);

                    $(".btn-estadisticas").click(function () {

                        sessionStorage.setItem('seguimiento_id', $(this).data("seguimiento_id"))
                        sessionStorage.setItem('paciente_id', $(this).data("paciente_id"))
                        sessionStorage.setItem('nombre', $(this).data("nombre"))
                        sessionStorage.setItem('dni', $(this).data("dni"))
                        sessionStorage.setItem('celular', $(this).data("celular"))
                        sessionStorage.setItem('direccion', $(this).data("direccion"))
                        sessionStorage.setItem('fecha_fin', $(this).data("fecha_fin"))
                        sessionStorage.setItem('fecha_inicio', $(this).data("fecha_inicio"))
                        $("#contenedor").load("seguimiento.detalle");
                    })

                }
            })
        }
        var llenarcombo = function () {
            $.ajax({
                type: "GET",
                url: "equipos.disponibles"
                , success: function (res) {
                    var html = "";
                    if (res.status == "SUCCESS") {
                        html += optionequipos(0, "Seleccione el equipo")

                        if (res.data.length == 0) {

                            $("#modalnuevo").modal("hide");
                        } else {

                            for (var x = 0; x < res.data.length; x++) {
                                html += optionequipos(res.data[x].equipo_id, res.data[x].equipo_codigo)
                            }
                            $("#equipo_id").html(html);
                            $("#modalnuevo").modal("show");
                        }
                    } if (res.status == "VACIO") {
                        $("#modalnuevo").modal("hide");
                        $(document).Toasts('create', {
                            class: 'bg-warning',
                            title: 'Equipos',
                            position: 'topRight',
                            subtitle: 'No Disponibles',
                            body: 'No hay equipos disponibles para añadir nuevos pacientes.'
                        })
                    }
                }
            })
        }
        llenartablaseguimiento(1, 0);
        $("#inputdni").keyup(function () {
            var sizedni = $("#inputdni").val().length;
            if (sizedni == 8) {
                llenartablaseguimiento(0, $("#inputdni").val());
            } else if (sizedni == 0) {
                llenartablaseguimiento(1, $("#inputdni").val());
            }
        })
        $("#btn-buscar").click(function () {
            llenartablaseguimiento(0, $("#inputdni").val());
        })
        $("#btn-limpiar-filtro").click(function () {
            $("#inputdni").val("");
            llenartablaseguimiento(1, null);
        })

        $("#btn-registrar").click(function () {

            $.ajax({
                type: "POST",
                url: "seguimiento.registro",
                data: $("#formpaciente").serialize()
                , success: function (res) {
                    if (res.status === "ERROR") {
                        $("#msgform").replaceWith(`<span id="msgform" class=" text-center text-white btn btn-danger btn-flat btn-xs">${res.msg}</span>`)
                    } else if (res.status === "SUCCESS") {
                        $("#formpaciente").trigger("reset");
                        llenarcombo();
                        $("#msgform").replaceWith(`<span id="msgform" class="text-center text-white btn btn-success btn-flat btn-xs">${res.msg}</span>`)
                        llenartablaseguimiento(1, null);
                    }
                }
            })
        })

    })

</script>